@{
    ViewData["Title"] = "Ana Sayfa";
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"]</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .github-logo {
            width: 24px;
            height: 24px;
            vertical-align: middle;
        }

        .btn-light {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .custom-jumbotron {
            background-color: #f8f9fa;
            padding: 2rem 1rem;
            border-radius: 0.3rem;
            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        }

        .logo-image {
            width: 100px;
            height: auto;
            margin-bottom: 1rem;
        }
    </style>
</head>
<body>

    <div class="jumbotron text-center custom-jumbotron">
        <img src="https://cdn.discordapp.com/attachments/852651465611935794/1248970757602676837/20170901124247Gazi_Universitesi_Logo_jpg.jpg?ex=66659a29&is=666448a9&hm=506f27abd8fb3bfcf106c650acaa0f465acb8d6164664e33aab8c5c91e87c939&" alt="Gazi Üniversitesi" class="logo-image">
        <h1 class="display-4">Hoş Geldiniz</h1>
        <p class="lead"> ana sayfa!</p>
        <hr class="my-4">
                  
        </a>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>